.post{
    width: 100%;
    margin: 15px 0 0 0;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px black;
}

.postTop > .userPost {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
.postTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postTop > .postEdit > button{
    margin: 0 20px;
    border-style: none;
    color: rgb(58,157,56);
    border-radius: 50%;
}
.postTop > .postEdit > button:hover{
    background-color: rgb(154,38,65);
   
}
.postAvatar{
    margin: 0 10px 0 0;
}

.postTopInfo > h3 {
    font-size: medium;
    margin: 0 
    /* margin: 0; */
}
.postTopInfo > span{
    font-size: small;
    color: grey;
    margin: 0 
}
.postBottom{
    margin: 10px 0;
    padding: 15px 25px;
}

 .postImage > img {
     width: 100%;
 }

 .postOptions {
     padding: 10px 0 0 0;
     border-top: 1px solid lightgrey;
     display: flex;
     justify-content: space-evenly;
     font-size: medium;
     color: grey;
     cursor: pointer;
     padding: 15px;
 }
 .postOption{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5px;
     flex: 1;
 }

 .postOption  span{
     margin: 0 0 0 10px;
     
 }

 .postOption:hover{
     background-color: #eff2f5;
     border-radius: 10px;
 }
 